<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <section id="downloads">
          {% if site.show_downloads %}
          {% endif %}
          <p style="text-align: center;"><span style="color: #339966;"><u>MRPETERD'S XBOX RETAIL MODE HOMEBREW APP REPO!</u></span></p>
          ***PLEASE CONSIDER A ONE TIME DONATION IF YOU CAN AS MAINTAINING THIS REPO IS QUITE TIME CONSUMING. DONATIONS ARE OF COURSE OPTIONAL***
          <br>
          <p style="text-align: center;"><a href="https://paypal.me/petetooelite" class="btn _4"><span style="color:#ff0066" class="icon"></span>💰Donations💰</a></p>
          </br>
          <p style="text-align: center;"><span style="color: #ff0000;">*PLEASE NOTE THAT I WILL NOT UNDER ANY CIRCUMSTANCE BE PROVIDING ROMS OR BIOS FILES, YOU MUST FIND THEM YOURSELVES*</span></p>
          <br>
          <p style="text-align: center;"><span style="color: #ff0000;">**THIS IS A VERY TIME CONSUMING PROJECT WHICK I WORK HARD TO MAKE AVAILABLE AND KEEP IT UPDATED, SO I HAVE DECIDED THAT ONE OFF PAYPAL DONATIONS OF A MINIMUM OF $5 ARE MANDATORY IN ORDER TO BE ABLE TO DOWNLOAD/INSTALL THESE APPS. ONCE DONATED IT'LL BE AVAILABLE ON YOUR ACCOUNT INDEFINITELY**</span></p>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
